[Unit]
Description=Corona-Dashboard Service
ConditionPathExists=/usr/local/bin/Corona-Dashboard
After=network.target

[Service]
Type=simple
User=corona-dashboard
Group=corona-dashboard

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

ExecStart=/usr/local/bin/Corona-Dashboard

# Make sure log directory exists
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/corona-dashboard && /bin/chown corona-dashboard:corona-dashboard /var/log/corona-dashboard && /bin/chmod 0644 /var/log/corona-dashboard

[Install]
WantedBy=multi-user.target
